/* css styles */

/* body, h1, h2, h3, h4, h5, h6, header, footer, nav, div, a{
    background-color: rgb(40,40,40);
    color: white;
    fill: rgb(40,40,40);
} */


/* .quarto-other-links{ */
#quarto-margin-sidebar > div.quarto-other-links{
    margin-top: 20px;
    font-size: large;
    color: red;
    background-color: green;
}
